<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CoJourney</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-nav">
        <div class="container-fluid d-flex justify-content-between">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img alt="logo" src="~/public/logo-preview.png" style="width:80px;height:60px"/>
                </a>
            </div>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item fw-bold">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Trang chủ</a>
                    </li>
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">User</a> *@
                    @* </li> *@
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link text-dark" asp-area="" asp-controller="Tour" asp-action="Index">Tour</a> *@
                    @* </li> *@
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link text-dark" asp-area="" asp-controller="CarModel" asp-action="Index">CarModel</a> *@
                    @* </li> *@
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link text-dark" asp-area="" asp-controller="Garage" asp-action="Index">Garage</a> *@
                    @* </li> *@

                    <li class="nav-item fw-bold">
                        <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">Về chúng tôi</a>
                    </li>
                    <li class="nav-item fw-bold">
                        <a asp-area="" asp-controller="Home" asp-action="Tour" class="nav-link">Thông tin vé xe</a>
                    </li>
                    <li class="nav-item fw-bold">
                        <a asp-area="" asp-controller="Home" asp-action="History" class="nav-link">Lịch sử</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse flex-grow-0">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item fw-bold">
                        <a class="nav-link" href="#">Đăng nhập</a>
                    </li>
                    <li class="nav-item fw-bold">
                        <a class="nav-link" href="#">Đăng ký</a>
                    </li>
                </ul>
            </div>
            <div>
                <p class="mb-0 text-cyan">Email: cojourney@gmail.com</p>
                <p class="mb-0 text-cyan">Hotline: 0987-654-321</p>
            </div>
        </div>
    </nav>
    @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
    @*     <div class="container-fluid"> *@
    @*         <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication1</a> *@
    @*         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
    @*                 aria-expanded="false" aria-label="Toggle navigation"> *@
    @*             <span class="navbar-toggler-icon"></span> *@
    @*         </button> *@
    @*         <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
    @*             <ul class="navbar-nav flex-grow-1"> *@
    @*                 <li class="nav-item"> *@
    @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
    @*                 </li> *@
    @*                 <li class="nav-item"> *@
    @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
    @*                 </li> *@
    @*             </ul> *@
    @*         </div> *@
    @*     </div> *@
    @* </nav> *@
</header>
<div class="container">
    <main role="main" class="py-5">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container d-flex justify-content-center">
        &copy; 2024 - CoJourney
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>